/* Electric Glitch Effect */
.container {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    opacity: 0;
    /* Hidden by default */
    mix-blend-mode: hard-light;
}

/* On Hover trigger the electric effect */
.container:hover .layer {
    opacity: 1;
    animation-iteration-count: infinite;
}

/* Extreme Electric Glitch Effect */
.container:hover .red {
    color: #0ff;
    animation: electric-zap-1 0.25s infinite linear alternate-reverse;
    z-index: -1;
    opacity: 0.8;
}

.container:hover .blue {
    color: #f0f;
    animation: electric-zap-2 0.2s infinite linear alternate-reverse;
    z-index: -2;
    opacity: 0.8;
}

/* More violent motion: Increased displacement and Skew */
@keyframes electric-zap-1 {
    0% {
        transform: translate(4px, 4px) skew(2deg);
        clip-path: inset(10% 0 10% 0);
    }

    10% {
        transform: translate(-4px, -4px) skew(-2deg);
        clip-path: inset(80% 0 5% 0);
    }

    20% {
        transform: translate(4px, 0) skew(5deg);
        clip-path: inset(5% 0 90% 0);
    }

    30% {
        transform: translate(-4px, 4px) skew(-5deg);
        clip-path: inset(50% 0 30% 0);
    }

    40% {
        transform: translate(4px, -4px) skew(10deg);
        clip-path: inset(10% 0 60% 0);
    }

    50% {
        transform: translate(-6px, 2px) skew(-10deg);
        clip-path: inset(30% 0 10% 0);
    }

    60% {
        transform: translate(4px, 0) skew(2deg);
        clip-path: inset(80% 0 5% 0);
    }

    70% {
        transform: translate(-4px, 4px);
        clip-path: inset(40% 0 50% 0);
    }

    80% {
        transform: translate(4px, -4px) skew(15deg);
        clip-path: inset(10% 0 80% 0);
    }

    90% {
        transform: translate(-4px, 0);
        clip-path: inset(5% 0 90% 0);
    }

    100% {
        transform: translate(2px, 2px) skew(-5deg);
        clip-path: inset(60% 0 10% 0);
    }
}

@keyframes electric-zap-2 {
    0% {
        transform: translate(-4px, -4px);
        clip-path: inset(15% 0 80% 0);
    }

    15% {
        transform: translate(4px, 4px) skew(-5deg);
        clip-path: inset(5% 0 90% 0);
    }

    30% {
        transform: translate(-6px, 0px);
        clip-path: inset(80% 0 10% 0);
    }

    45% {
        transform: translate(4px, -4px) skew(10deg);
        clip-path: inset(10% 0 50% 0);
    }

    60% {
        transform: translate(-4px, 4px);
        clip-path: inset(40% 0 20% 0);
    }

    75% {
        transform: translate(6px, -2px) skew(-10deg);
        clip-path: inset(60% 0 10% 0);
    }

    90% {
        transform: translate(-2px, 4px);
        clip-path: inset(20% 0 70% 0);
    }

    100% {
        transform: translate(4px, -4px) skew(5deg);
        clip-path: inset(5% 0 85% 0);
    }
}