.container {
    position: relative;
    display: inline-block;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: all 0.1s;
}

.container:hover .layer {
    opacity: 0.7;
}

.red {
    color: #ff0000;
    transform: translateX(2px);
    animation: pulse 0.1s infinite;
}

.blue {
    color: #0000ff;
    transform: translateX(-2px);
    animation: pulse 0.1s infinite 0.05s;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}